.p-2 button {
  background-color: #fff;
  z-index: 1;
  position: relative;
  overflow: hidden;
  color: red;
  border: 3px solid red;
  padding: 10px 20px;
  font-family: Arial;
  font-weight: 800;
  font-size: 1.05em;
  border-radius: 15px;
  transition: transform 0.3s ease, color 0.5s ease;
}

.p-2 button::before {
  content: "";
  inset: 0 0 0 0;
  margin: auto;
  height: 0px;
  width: 0px;
  position: absolute;
  background-color: red;
  z-index: -1;
  border-radius: 50%;
  transition: all 0.7s ease;
}

.p-2 button:active {
  transform: scale(0.9);
}

.p-2 button:hover {
  color: #fff;
}

.p-2 button:hover:before {
  height: 200px;
  width: 200px;
}
